@model tl2_tp10_2023_NicoMagro.ViewModels.Usuarios.CrearUsuarioViewModel

<form asp-controller="User" asp-action="CreateUser">

    <div class="mb-3" class="form-group">
        <label asp-for="@Model.Nombre" class="form-label"></label>
        <input asp-for="@Model.Nombre" class="form-control">
    </div>
    <div class="mb-3" class="form-group">
        <label asp-for="@Model.Password" class="form-label"></label>
        <input asp-for="@Model.Password" class="form-control">
    </div>
    <div class="mb-3" class="form-group">
        <label asp-for="@Model.RolUsuario" class="form-label"></label>
        <input asp-for="@Model.RolUsuario" class="form-control">
    </div>

    <button type="submit" class="btn btn-info">Crear</button>
</form>